@import "./variables";

$section-bg: #F9F9F9;

$footer-bg: #ffffff;

$header-z-index: 120;
$header-height: rem(140);
$header-height-mo: 70px;

$footer-height: rem(184);
$footer-height-mo: 98px;
$footer-tips-height: rem(72);
$footer-btn-width: rem(294);
$footer-btn-height: rem(70);
